* {
    box-sizing: border-box;
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p, li {
    font-size: 18px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    padding: 0 100px;
    max-width: 1080px;
}

header a {
    text-decoration: none;
    margin: 0 20px;
    font-size: 34px;
    color: #000000;
}

header > a {
    font-size: 34px;
    border: solid 1px #000000;
    padding: 10px 5px 0 5px;
}

#nav-pc ul {
    display: flex;
}

#nav-pc li {
    list-style: none;
}

main > img {
    width: 100%;
    margin-bottom: 50px;
}

article {
    max-width: 1080px;
    margin: 0 auto;
}

#about {
    margin-bottom: 100px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

#about > h1 {
    font-size: 34px;
}

#about > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 70px;
}

#about-img {
    width: 30%;
}

#about-img > img {
    width: 100%;
    border-radius: 50%;
}

#about-read > p {
    font-size: 24px;
}

#works {
    margin-bottom: 100px;
}

#works-collection {
    display: flex;
    justify-content: space-around;
    padding: 0 130px;
}

#works-collection > div {
    width: 32%;
}

#works-collection img {
    width: 100%;
    margin: 0;
}

#works-collection p {
    margin: 0;
}

footer {
    text-align: center;   
}

@media screen and (max-width: 767px) {
    
    header {
        padding: 0;
    }

    header a {
        margin: 0 5px;
    }

    header > a {
        margin-left: 5px;
    }

    #about > div {
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;
    }

    #about-img {
        width: 70%;
    }

    #works-collection {
        flex-direction: column;
        padding: 0;
        align-items: center;
        text-align: center;
    }

    #works-collection > div {
        margin-bottom: 30px;
        width: 90%;
    }

    #about {
        margin-bottom: 50px;
    }

    #works {
        margin-bottom: 50px;
    }
}